$moncerrat:   'Montserrat', sans-serif;

.about {
    .row {
        margin-right: 5px;
        margin-left: 5px;
    }
    .h2-center{
        margin-top: 5%;
        width: 35%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    h2{
        font-family: $moncerrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2.2rem;
        line-height: 2.7rem; 
        color: #1A1A1A; 
        text-align: center;
    }
    .after-h2-center{
        margin-top: 2%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .after-h2 {
        font-family: $moncerrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.38rem;
        line-height: 1.94rem; 
        text-align: center;
        color: #7E7E7E;
    }
    .container {      
        height: 40.4rem;
        background: #FFFFFF;
        box-shadow: 0rem 0.27rem 1.1rem rgba(0, 0, 0, 0.16);
        border-radius: 2.2rem;
        margin: 1%;
img {
    margin-top: 2%;
    width: 75%;
    border-radius: 20px;
}
h4 {
margin-top: 2%;
font-family: $moncerrat;
font-style: normal;
font-weight: 600;
font-size: 1.6rem;
line-height: 2rem;
text-align: center;
color: #1A1A1A;
}
p {
  margin-top: 2%; 
  font-family: $moncerrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.59rem;
  text-align: center;
  color: #7E7E7E;
}
    }
    @media screen and (max-width: 1440px) {
        .h2-center{
            margin-top: 5%;
            width: 80%;
        }
        .after-h2-center{
            margin-top: 2%;
            width: 90%;
        }
        .container {
            height: 38.4rem;
        }
    }
    @media screen and (max-width: 1200px) {
        .container {
            height: 33.4rem;
            h4 {
                font-size: 1.2rem;
                line-height: 1.5rem;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.2rem;
                  }
        }
        
    }
    @media screen and (max-width: 992px) {
        .container {
            height: 32.4rem;
            h4 {
                font-size: 1.2rem;
                line-height: 1.5rem;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.2rem;
                  }
                  img {
                    width: 85%;
                    margin-top: 5%;
                }
        }
        
    }
    @media screen and (max-width: 768px) {
        .mob-col-3-center{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .h2-center{
            margin-top: 5%;
            width: 100%;
            h2{
                font-size: 1.6rem;
                line-height: 2rem; 
            }
        }
        .after-h2-center{
            margin-top: 2%;
            width: 100%;
            .after-h2 {
                font-size: 0.9rem;
                line-height: 1.1rem; 
            }
        }
        #row-column-blok-2{
            .justify-content-center{
                justify-content: center;
            }
            .container{
                height: 26.4rem;
                width: 100%;
                p {
                    margin-bottom: 5%;
                }
                img {
                    width: 90%;
                    margin-top: 5%;
                }
                    }
    }
}
@media screen and (max-width: 576px) {
    .h2-center{
      width: 100%;
    }
    h2 {
        font-size: 1.4rem;
        line-height: 1.8rem; 
    }
    .after-h2-center {
        width: 100%;
    }
    .after-h2 {
        font-size: 0.92rem;
        line-height: 1.2rem;
    }
    img {     
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }
    #row-column-blok-2{
  .container{
    height: 23.4rem;
    width: 100%;
    h4{
        margin-top: 5%;
    }
    p {
        margin-bottom: 5%;
    }
}
    }
}
}